<div style="display:none">DigiFi</div>
<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script type="text/javascript">
  <%- locals.periodic.viewHelper.passObjToClient(locals.periodic.client_configurations, "client_configurations")%>
</script>
<script type="text/javascript">
</script>
<script type="text/javascript" src="/container/job-service-container/public/build/bundle.js"></script>